extends ./../../base

block append vars
  - var relativeFontPath = "./../../";
  - var relativeImagesPath = "./../../";
  - var relativeCSSPath = "./../";
  - var pathToRoot = "./../../";
  - var title = "Убежище факторианта - Порядок исследований";
  - var h1Text = "Порядок исследований";
  - var headerText = "Порядок исследований"
  - var forksActive = false;
  - var guildesActive = false;

block content
  - 
    var footerLinks = []
    
  div.main__header
    div.main__header-cont
      h2.main__header-text #{h1Text}
      button.main__header-arrow(onclick="window.history.back()" type="button")

  p На первых этапах, когда у вас имеются только красные и зелёные колбочки, лучше в первую очередь изучать исследования, которые напрямую зависят от развития вашего производства. Например, логистика, производство стали, автоматизация, продвинутая металлургия, сера и т.д. Это позволит вам быстрыми темпами развить свою базу и иметь большие запасы различных ресурсов.
  
  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/12/1.png", alt="")

  p В первое время игры кусаки на вас почти не нападают, а если и нападают, то отбиться от них довольно просто, поэтому изучать исследования по атаке или обороне рекомендуется ближе к переходу на новый этап науки.

  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/12/2.png", alt="")

  p Когда у вас появляется броня 3 уровня, то количество ваших слотов в рюкзаке увеличивается, что очень помогает в будущем при постройке. А также, добавляется место для различный снаряжений личного пользования.

  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/12/3.png", alt="")

  p Когда у вас база уже неплохо развита, и вы уже производите минимум 3 вида колбочек, то загрязнение начинает расти быстрыми темпами и на вас будут начинать нападать уже более сильные кусаки и в большем количестве, поэтому на этом этапе рекомендуется как можно быстрее улучшать своё оружие и оборону базы.

  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/12/4.png", alt="")

  p Новый вид колбочек рекомендуется изучать в последнюю очередь, когда все остальные возможные исследования изучены и нужен переход на новый этап науки.

  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/12/5.png", alt="")

  p Исследования, такие как оптика или отсыпка территории больше важны для внешнего оформления карты и вашего удобства постройки, поэтому изучать подобного рода исследования тоже лучше в конце.

  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/12/6.png", alt="") 

  p Когда у вас появляются красные и зелёные колбочки, то становятся доступны исследования “Скорость лабораторий”. Это очень полезное исследование, которые рекомендуется изучить быстрее всего. Они будут давать неплохое улучшение для ваших лабораторий и будут изучать новые исследования гораздо быстрее. 

  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/12/7.png", alt="") 

  p Красные и зелёные колбочки:
  p Скорость лабораторий → развитие производства → энергетика → атака → оборона → оформление карты → приборы личного пользования → новые колбочки

  p Другие колбочки:
  p Скорость лабораторий → атака → оборона → приборы личного пользования → энергетика → развитие производства → оформление карты → новые колбочки 

  div.main__footer
    button.main__footer-arrow(onclick="window.history.back()" type="button")

    div.main__footer-cont
      each footerLink in footerLinks 
        a(class="main__footer-cont-link main__footer-cont-link_" + footerLink.state href=footerLink.href) #{footerLink.text}