extends ./../../base

block append vars
  - var relativeFontPath = "./../../";
  - var relativeImagesPath = "./../../";
  - var relativeCSSPath = "./../";
  - var pathToRoot = "./../../";
  - var title = "Убежище факторианта - Добыча ресурсов без автоматизации";
  - var h1Text = "Добыча ресурсов без автоматизации";
  - var headerText = "Добыча ресурсов без автоматизации"
  - var forksActive = false;
  - var guildesActive = false;

block content
  - 
    var footerLinks = []
    
  div.main__header
    div.main__header-cont
      h2.main__header-text #{h1Text}
      button.main__header-arrow(onclick="window.history.back()" type="button")
 
  p Автоматизация является главной частью этой игры. И без неё невозможно построить ракету. 
  p Если же мы будем капать уголь вручную, то будем добывать примерно 1 шт. В секунду. 

  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/7/1.png", alt="")

  p Да, это не так плохо, но нам ещё необходимо добывать в игре другие ресурсы - железо, медь, нефть, уран. Если железо и медь мы сможем капать киркой, то вот с нефтью и ураном всё сложнее. Для добычи нефти в любом случае нужны нефтяные вышки и трубы, а для добычи урана вообще серная кислота. 
 
  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/7/2.png", alt="")
  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/7/3.png", alt="")

  p Главная цель игры, это автоматизация производства. Если же мы поменяем саму идею и будем делать так как хотим, то это уже будет совершенно другая игра и удовольствие от неё вы не получите. 
  p Примерное прохождение одной игры составляет около 25 часов, причём это со всей автоматизацией производства. Если же мы будем это всё делать вручную, то игра может занять порядка 100, а то и несколько сотен часов, так как чем больше вы исследуете, тем больше ресурсов вам необходимо добывать. 
  p Давайте предположим, что вы вам нужен уголь и есть 2 способа, вручную и поставить электрические буры. Как мы знаем, если копать вручную, то мы будем добывать 1 шт. В секунду. А если же мы заставим всю область с углём - бурами, то наша добыча составит (0,5 (шт. в секунду) * 76 (буров) = 38 (шт. в секунду))
  p Это в 38 раз быстрее. А после того, как мы поставили буры на уголь, так же можем сделать и с железом, например. И тогда уже одновременно у нас будет добываться 2 ресурса со скоростью в 38 раз быстрее. То есть, пока мы вручную за секунду раскопали 1 уголь, автоматически у нас получилось добыть 38 угля и 38 железа. Так что же удобнее? 
  div.main__img-cont
    img.main__img_small(src=relativeImagesPath + "./images/articles/7/4.png", alt="")
  div.main__img-cont
    img(src=relativeImagesPath + "./images/articles/7/5.png", alt="")

  p Так же, допустим, для создания паукотрона, который является одним из лучших изобретений в игре для защиты от кусак, нам понадобиться очень много ресурсов, которые показаны на картинке ниже. И для него нам просто может не хватить места, так как все ресурсы придётся хранить у себя в инвентаре.

  div.main__img-cont
    img.main__img_small(src=relativeImagesPath + "./images/articles/7/6.png", alt="")

  p Приведём основные минусы добычи ресурсов вручную:

  ul 
    li Очень, очень, очень долго
    li Игра может быстро надоесть
    li Нехватка места в инвентаре
    li Неэффективно


  div.main__footer
    button.main__footer-arrow(onclick="window.history.back()" type="button")

    div.main__footer-cont
      each footerLink in footerLinks 
        a(class="main__footer-cont-link main__footer-cont-link_" + footerLink.state href=footerLink.href) #{footerLink.text}